<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @voltage_level.name %>
</p>

<%= link_to 'Edit', edit_voltage_level_path(@voltage_level) %> |
<%= link_to 'Back', voltage_levels_path %>
