<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <h3 class="text-primary"> Edit Activities</h3>

                <%= render 'form', activity: @activity %>

                <%= link_to 'Show', @activity %> |
                <%= link_to 'Back', activities_path %>
        </div>
    </div>
</div>
